################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/tinytinyrenderer/v15
/Debug
/ImageFormats/Debug
/Application/Debug
/Application/b.tga
/Application/a.tga
