################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/tinytinyrenderer/v15
/Debug
/ImageFormats/Debug
/Application/Debug
/Application/b.tga
/Application/a.tga
/ImageFormats/x64/Debug
/Line_Algorithm/Debug
/Line_Algorithm/x64/Debug
/Application/x64/Debug
/Math/Debug
/Math/x64/Debug
/x64/Debug
/GeometryFormats/x64/Debug
